[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "dms-ansible"

[packages]
ansible = "*"
paramiko = "*"
purestorage = "*"
py-pure-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
